<nav class="navbar bg-primary navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand link-warning fs-3" href="#">SinMulta</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
        
         <li class="nav-item dropdown">
          <a class="nav-link link-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Usuarios

          </a>
          <ul class="dropdown-menu ">
            
          
            <li><a class="dropdown-item" href="/listusuario">usuarios</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link link-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Vehiculos

          </a>
          <ul class="dropdown-menu ">

            <li><a class="dropdown-item" href="/add">Añade vehiculo</a></li>
            <li><a class="dropdown-item" href="/list">Mis vehiculos</a></li>
          </ul>
        </li>

       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Documentos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Soat</a></li>
            <li><a class="dropdown-item" href="/plist">licencia</a></li>
            <li><a class="dropdown-item" href="#">inspeccion vehicular</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown"></li>
          <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Compras
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Proveedor</a></li>
            <li><a class="dropdown-item" href="#">Orden de Compra</a></li>
          </ul>
        </li>
      </ul>|

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Búsqueda</button>
      </form>
    </div>
  </div>
</nav>